/* font-family: "HelveticaRegular"; */
@font-face {
    font-family: "HelveticaRegular";
    src: url("/css/fonts/HelveticaRegular/HelveticaRegular.eot");
    src: url("/css/fonts/HelveticaRegular/HelveticaRegular.eot?#iefix") format("embedded-opentype"),
    url("/css/fonts/HelveticaRegular/HelveticaRegular.woff") format("woff"),
    url("/css/fonts/HelveticaRegular/HelveticaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/*===================сетка==============================================*/
.container {
    padding-right: 0px;
    padding-left: 0px;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.col-md-3, .col-md-12 {
    padding-left: 10px;
    padding-right: 10px;
}
.col-md-2{
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.navbar__header .row {
    margin-right: 10px !important;
    margin-left: 10px !important;
}

/*===================Конец сетка==========================================*/
body {
    font-size: 10px;
}

.b-header {
    background: rgba(255, 255, 255, 1);
    font-family: "HelveticaRegular", Helvetica, Arial, sans-serif;
}

/*===================Хедер меню==============================================*/
.navbar__header {
    margin: 3rem 0;
    text-align: center;
}
.navbar-toggle.header__toggle{
    width: 5rem;
    height: 4rem;
    border: 0.1rem solid #00c853;
    margin: 0.5rem 3rem 0 0;
}
.navbar-toggle.header__toggle .icon-bar {
    background: #000;
    display: block;
    width: 1.8rem;
    height: 0.3rem;
    border-radius: 1px;
    margin-left: 0.5rem;
}
.header__logo {
    display: inline-block;
}

.header__logo,
.header__separator {
    float: left;

}
.header__logo--dostavim{
    width: 9.5rem;
    height: 4.4rem;
    background: url("/css/img/header/dostavim_logo.png") no-repeat;
}
.header__logo--magazin{
    width: 15.1rem;
    height: 4.5rem;
    background: url("/css/img/header/firma_logo.png") no-repeat;
}

.header__separator {
    display: inline-block;
    margin: 0 2rem;
    margin-top: 0.5rem;
    width: 0.1rem;
    height: 4rem;
    background: url("/css/img/header/separator.png") no-repeat;
}

/*форма поиска*/
.header__search {
    display: inline-block;
    position: relative;
    margin-top: 0.5rem;
}

.search__obertka {
    display: inline-block;
}

.obertka__input {
    display: inline-block;
    vertical-align: middle;
    width: 32rem;
    height: 4rem;
    border: 0.1rem solid #d9d9d9;
    border-radius: 5px;
    padding: 6px 12px;
    font-size: 1.4rem;
    line-height: 1.42857143;
    color: #d2d2d2;
    transition: border-color ease-in-out .15s;
}

.search__sumbit {
    border: none;
    padding: 0;
    width: 1.6rem;
    height: 1.6rem;
    background: url("/css/img/header/search.png");
    position: absolute;
    right: 1rem;
    top: 1.3rem;
}

/*форма поиска конец*/
.header__button {
    margin-top: 0.5rem;
    display: inline-block;
    float: right;
    height: 4rem;
    font-size: 1.4rem;
    padding: 1rem 1.5rem;
    border: 0.1rem solid #00c853;
    border-radius: 5px;
    position: relative;
    vertical-align: middle;
    color: #7f7f7f;
}

.header__button:hover {
    text-decoration: none;
    color: #7f7f7f;
}

.header__button--basket {
    margin-right: 2rem;
}
.header__button span{
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
}
.header__button p{
    display: inline-block;
    margin: 0;
    vertical-align: top;
}
.header__button--basket span {
    background: url("/css/img/header/cart_btn.png") no-repeat;
}

.header__button--profil span {
    background: url("/css/img/header/user_btn.png") no-repeat;
}

/*===================Конец Хедер меню========================================*/

/*===================Меню==============================================*/
/*Начало 1 уровень*/
.row--relative{
    position: relative;
    text-align: justify;
}

.menu__level-1,
.level-2__ul {
    list-style: none;
}

.menu__level-1 {
    margin: 0;
    padding: 0;
    border-top: 0.1rem solid #e5e5e5;
    border-bottom: 0.1rem solid #e5e5e5;
    max-height: 5rem;
}

.level-1__li {
    height: 5rem;
    /*
    width: 14rem;
    */
    margin: 0 1em;
    display: inline-block;
    font-size: 1.4rem;
    line-height: 5rem;
    text-align: justify;
    color: #666666;
    cursor: pointer;
}
.level-1_li--justify{
    width: 100%;
    display: inline-block;
}

.level-1__li:first-child {
    margin-left: 1rem;
}

.treug{
    display: none
}
/*Конец 1 уровень*/
/*Начало 2 уровень*/
.level-1__li .level-2__ul{
    margin-top: 0.1rem;
}

.level-2__ul{
    position: absolute;
    top: 5rem;
    left: 0;
    padding: 0;
    background: #fff;
    z-index: 100;
    display: none;
    padding-top: 5rem;
}
.level-2__li{
    position: relative;
    height: 21rem;
    width: 14rem;
    margin: 0 1rem;
    text-align: center;
    z-index: 101;
}
.level-2__li a{
    display: inline-block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.level-2__li a:hover{
}
.level-2__img{
    display: inline-block;
}
.level-2__span {
    display: inline-block;
    font-size: 1.4rem;
    line-height: 1.4rem;
    margin-top: 1.5rem;
    color: #666666;
}

/*Конец 2 уровень*/


/*===================Конец Меню=========================================*/

/*медиа запросы*/
@media (min-width: 1060px) {
    .container {
        width: 960px !important;
    }
}
@media (min-width: 800px) and (max-width: 1059px) {
    /*Начало сетка*/
    .container {
        width: 720px !important;
    }

    .col-md-2 {
        width: 14rem !important;
    }

    .col-sm-4 {
        width: 14rem !important;
    }
    /*Конец сетка*/
    /*Хедер меню*/
    .navbar__header {
        margin: 0 0 8rem 0;
    }
    .header__toggle{
        display: inline-block;
        float: left;
    }
    .header__logo--magazin{
        width: 4rem;
        height: 4.6rem;
        background-position: 100% 100%;
    }
    .obertka__input {
        width: 25rem;
    }
    .header__button p {
        display: none;
    }
    /*Конец Хедер меню*/
    /*Начало Меню*/
    .navbar__menu{
        display: none;
    }
        /*начало 1 уровень*/
    .menu__level-1{
        border: none;
        max-height: none;
    }
    .level-1__li {
        display: block;
        width: 18rem;
        padding-left: 2rem;
    }
    .level-1__li.active{
        color: #222;
        border-top: 0.1rem solid #00c853;
        border-left: 0.1rem solid #00c853;
        border-bottom: 0.1rem solid #00c853;
    }
    .level-1__li.active .level-2__ul{
        display: block;
    }
    .treug{
        position: relative;
        width: 0.1rem;
        height: 5rem;
        display: inline-block;
        float: right;
        top: -0.1rem;
        left: 0.1rem;
    }
    .treug::before{
        content: '';
        position: absolute;
        left: 0rem;
        top: 0rem;
        border-top: 2.5rem solid transparent;
        border-bottom: 2.5rem solid transparent;
        border-left: 1.5rem solid #00c853;
    }
    .treug::after{
        content: '';
        position: absolute;
        left: 0rem;
        top: 0.1rem;
        border-top: 2.4rem solid transparent;
        border-bottom: 2.4rem solid transparent;
        border-left: 1.4rem solid #fff;
    }
        /*конец 1 уровень*/
        /*начало 2 уровень*/
    .level-2__ul{
        padding: 0;
        top: 0;
        left: 24rem;
    }
    .level-2__li{
        height: 16rem;
    }
        /*конец 2 уровень*/
    /*Конец Меню*/
}
@media (min-width: 540px) and (max-width: 799px) {
    .container {
        width: 480px !important;
    }
    .col-sm-4,
    .col-xs-2{
        width: 33.3333333% !important;
    }
    .row--relative{
        margin-right: 1rem!important;
        margin-left: 1rem!important;
    }
    /*Хедер меню*/
    .navbar__header{
        margin: 1rem 0 3rem;
    }
    .navbar__header--small-desctop{
        margin-bottom: 13rem;
    }
    .row__header--relative {
        position: relative;
    }
    .header__toggle{
        display: inline-block;
        float: left;
    }
    .header__logo--magazin{
        width: 4rem;
        height: 4.6rem;
        background-position: 100% 100%;
    }
    .header__search{
        position: absolute;
        top: 11rem;
        left: 0rem;
        display: none;
    }
    .obertka__input {
        width: 46rem;
    }
    .header__button p {
        display: none;
    }
    /*Конец Хедер меню*/
    /*Начало Меню*/
    .navbar__menu{
        display: none;
    }
        /*начало 1 уровень*/
    .menu__level-1{
        border: none;
    }
    .menu__level-1 .row--relative{
        height: 5rem;
        overflow: hidden;
        border: 1px solid #00c853;
    }
        /*конец 1 уровень*/
        /*начало 2 уровень*/
    .level-1__li{
        width: 100%;
    }
        /*конец 2 уровень*/
    /*Конец Меню*/
}
