/* font-family: "HelveticaItalic"; */
@font-face {
    font-family: "HelveticaItalic";
    src: url("/css/fonts/HelveticaItalic/HelveticaItalic.eot");
    src: url("/css/fonts/HelveticaItalic/HelveticaItalic.eot?#iefix") format("embedded-opentype"),
    url("/css/fonts/HelveticaItalic/HelveticaItalic.woff") format("woff"),
    url("/css/fonts/HelveticaItalic/HelveticaItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "HelveticaBlack"; */
@font-face {
    font-family: "HelveticaBlack";
    src: url("/css/fonts/HelveticaBlack/HelveticaBlack.eot");
    src: url("/css/fonts/HelveticaBlack/HelveticaBlack.eot?#iefix") format("embedded-opentype"),
    url("/css/fonts/HelveticaBlack/HelveticaBlack.woff") format("woff"),
    url("/css/fonts/HelveticaBlack/HelveticaBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "HelveticaRegular"; */
@font-face {
    font-family: "HelveticaRegular";
    src: url("/css/fonts/HelveticaRegular/HelveticaRegular.eot");
    src: url("/css/fonts/HelveticaRegular/HelveticaRegular.eot?#iefix") format("embedded-opentype"),
    url("/css/fonts/HelveticaRegular/HelveticaRegular.woff") format("woff"),
    url("/css/fonts/HelveticaRegular/HelveticaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/*===================сетка==============================================*/
.container {
    padding-right: 0px;
    padding-left: 0px;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.col-md-3, .col-md-12 {
    padding-left: 10px;
    padding-right: 10px;
}

.row {

}

/*===================сетка==============================================*/
.b-page {
    background: rgba(242, 242, 242, 1);
    font-family: "HelveticaRegular", Helvetica, Arial, sans-serif;
}

.row--hidden {
    display: none;
}

.b-page__line {
    position: relative;
    margin-bottom: 20px;
    max-width: 220px;
    min-height: 140px;
}

.b-page__title {
    margin-bottom: 30px;
    margin-top: 20px;
}

.title__head {
    margin: 0;
}

.b-line__content {
    background: #fff;
    border: 1px solid #c6c6c6;
    overflow-y: hidden;
    height: 140px;
    cursor: pointer;
}

.b-line__content--basket {
    background: #ccefdf;
}

.b-line__content:hover {
    height: 300px;
    z-index: 10;
    position: absolute;
    width: 100%;
}

.content__title {
    text-align: left;
    height: 70px;
    padding: 20px 20px 0;
    margin-bottom: 10px;
}

.title__name {
    text-align: center;
    margin: 0;
    font-size: 20px;
    max-height: 20px;
    overflow: hidden;
}

.b-line__content:hover .title__name--hover {
    max-height: 70px;
    font-size: 15px;
}

.content__info {
    text-align: left;
    padding: 8px 20px 0px;
}

.price__number {
    display: inline-block;
    margin: 0;
    color: #00c853;
    margin-left: 22px;
    font-size: 24px;
}

.number__rub {
    font-size: 20px;
    margin-left: -5px;
}

/*избранное 3 состояния кнопки для отображения*/
.price__favorites {
    font-size: 20px;
    display: inline-block;
    padding-left: 2px;
}

.price__favorites--off {
    color: #a3a3a3;
}

.price__favorites--on {
    color: #05cd58;
    position: absolute;
    top: 43px;
    left: 78px;
}

.b-line__content:hover .price__favorites--on {
    color: #05cd58;
    position: relative;
    top: 1px;
    left: 0px;
}

/*избранное*/

/*Touch устройство ввода / перекрывает все по умолчанию / удаляет класс .b-line__content--touch если не тачь устройство*/
.b-line__content--touch {
    height: 300px;
}

.b-line__content--touch .title__name--hover {
    max-height: 70px;
    font-size: 15px;
}
.b-line__content--touch .glyphicon{
    position: static;
}
.b-line__content--touch.b-line__content .price__favorites--on {
    font-size: 20px;
    display: inline-block;
    padding-left: 2px;
    position: static;
}
.b-line__content--touch.b-line__content .price__basket--on {
    display: inline-block;
    font-size: 20px;
    position: relative;
    left: 20px;
    top: 0;
}
.b-line__content--touch .price__weight {
    position: static;
    text-align: center;
}

/*Touch устройство ввода*/

/*корзина 3 состояния кнопки для отображения*/
.price__basket {
    display: inline-block;
    font-size: 20px;
    position: relative;
    left: 20px;
}

.price__basket--off {
    color: #a3a3a3;
}

.price__basket--on {
    color: #05cd58;
    position: absolute;
    top: 43px;
    left: 120px;
}

.b-line__content:hover .price__basket--on {
    color: #05cd58;
    position: relative;
    left: 20px;
    top: 0;
}

/*корзина*/
.price__weight {
    position: absolute;
    top: 43px;
    left: 105px;
    color: #a3a3a3;
}

.b-line__content:hover .price__weight {
    text-align: center;
    position: static;
}

.b-page__button {
    display: block;
    background: rgba(242, 242, 242, 1);
    border-radius: 0;
    font-size: 18px;
    padding: 16px 12px;
}

.b-page__tovar--hiden {
    display: none;
}

.content__images {
    text-align: center;
    height: 140px;
}

.img-responsive.images__img {
    display: inline-block;
    max-height: 140px;
}

/*медиа запросы*/

@media (min-width: 1060px) {
    .container {
        width: 960px !important;
    }
}

@media (min-width: 800px) and (max-width: 1059px) {
    .container {
        width: 720px !important;
    }

    .col-md-3 {
        width: 33.33333333% !important;
    }

    .col-sm-4 {
        width: 33.33333333% !important;
    }

    .b-line__content {
        max-height: none;
    }

    .b-line__content:hover {
    }

    .b-full-title {
    }
}

@media (min-width: 540px) and (max-width: 799px) {
    .container {
        width: 480px !important;
    }

    .col-sm-4 {
        width: 50% !important;
    }

    .head-menu {
    }
}

@media (min-width: 300px) and (max-width: 539px) {
    .container {
        width: 320px !important;
    }

    .b-page__line {
        position: relative;
        margin-bottom: 20px;
        max-width: 300px;
        min-height: 180px;
    }

}